<h1><%=@person.first_name%> <%= @person.last_name %></h1>
<h4> <%=@person.hair_color%> hair </h4>
<h4> <%=@person.eye_color%> eyes </h4>
<h4> <%=@person.age%> years old </h4>
<h4> <%=@person.gender%> </h4>

<%= link_to 'Back', people_path %>
